@model IEnumerable<ogsysCRM.ViewModels.NoteViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            Created By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Note", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Note", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>